
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

 html, body {
    height: 100%;
    width: 100%;
    font-family: 'League Spartan', sans-serif;
    background-color: #ccc;
    border: 1px;
    border-color: black;
    border-radius: 2px;
}

 .container {
    max-width: 900px;
    margin: 0 auto;
}

 .apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

 .title_small {
    font-size: 20px;
}

 .form_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}

 .form_control {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 15px;
    margin-bottom: 4px;
}

 input, select, textarea {
    padding: 12px 5px 12px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

 input:focus {
    outline-color: red;
}

 .button_container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 10px;
}

 .bt {
    background-color: rgb(0, 255, 55);
    border: transparent solid 2px;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 15px;
    transition: 0.3s ease-in;
}

 .bt:hover {
    background-color: #ccc;
    border: 2px solid;
    transition: 0.3s ease-in;
    cursor: pointer;
}

 .form_control span, .button_container span{
    /* position: absolute; */
    color: red;
    font-size: 14px;
    margin-top: 8px;
}
.form_container span i{
    position: fixed;
    margin-top: -36px;
    margin-left: 510px;
    color: seagreen;
    /* font-size: 10px; */
    
}