*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    overflow: hidden;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #08001f, #2c0b9b);
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.clock{
    width: 100%;
    height: 100%;
    background-color: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}
.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background-color: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}

.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background-color: #419aff;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    bottom:  -50px;
    z-index: -1;
}
.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#hrs::after{
content: 'HOURS';
}
#min::after{
    content: 'MINS';
}
#sec::after{
    content: 'SEC';
}
.change{
    position: relative;
    margin-top: 300px;
    width: 40%;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3 ease;
    cursor: pointer;
}
.change:hover{
    border: 1px solid #ccc;
    transition: 0.3s ease;
}
.change a{
    text-decoration: none;
    color: #ccc;
}