* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 1em;
  background-color: #0d6168;
  overflow: hidden;
}
.wrapper {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.wrapper img {
  max-width: 100%;
}
#container,
#preview-container {
  background-color: #ffffff;
  border-radius: 0.8em;
  padding: 1em;
}
#container p {
  font-size: 0.8em;
  color: #606060;
  text-align: justify;
  margin-bottom: 10px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}
button,
a {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  background-color: #ffffff;
  border: none;
  outline: none;
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 0.5em;
  color: #000000;
  text-decoration: none;
}
.hide {
  display: none;
}
