*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-color: #025bee;

}
.container{
    background-color: #fff;
    width: 90%;
    max-width: 34.37em;
    position: relative;
    margin: 3.12em auto;
    padding: 3.12em 1.25em;
    border-radius: 0.43em;
    box-shadow: 0 1.25em 2.18em rgb(1, 28, 71, 0.3);
}
input[type="file"]
{
    display: none;
}
label{
    display: block;
    position: relative;
    background: #025bee;
    color: #fff;
    font-size: 1.12em;
    font-weight: 500;
    text-align: center;
    width: 18.75em;
    padding: 1.12em 0;
    margin: auto;
    border-radius: 0.31em;
    cursor: pointer;
}
#num-of-files{
    font-weight: 400;
    text-align: center;
    margin: 1.25em 0 1.87em 0;
}
.container li{
    font-weight: 500;
    background-color: #eff5ff;
    margin-bottom: 1em;
    padding: 1.1em 1em;
    border-radius: 0.3em;
    display: flex;
    justify-content: space-between;
}