*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f242d;
}
.contact h2{
    font-size: 40px;
    color: #ededed;
    text-align: center;
    margin-bottom: 10px;
}
.contact form{
    width: 600px;
    text-align: center;
}
form .input-box{
    display: flex;
    justify-content: space-between;
}
.input-box .input-field{
    width: 48.5%;
}
.field .item{
    width: 100%;
    padding: 18px;
    background-color: transparent;
    border: 2px solid #0ef;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}
.field .item::placeholder{
    color: rgba(255, 255, 255, 0.3);
}

form .textarea-field .item{
    resize: none;
}

form button {
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}
form button:hover{
    box-shadow: none;
}
.field .error-txt{
    font-size: 14.5px;
    color: #d03025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}
form .textarea-field .error-txt{
    margin-top: -10px;
}
.field.error .item{
    border-color: #d93025;
}
.field.error .error-txt{
    display: block;
}*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f242d;
}
.contact h2{
    font-size: 40px;
    color: #ededed;
    text-align: center;
    margin-bottom: 10px;
}
.contact form{
    width: 600px;
    text-align: center;
}
form .input-box{
    display: flex;
    justify-content: space-between;
}
.input-box .input-field{
    width: 48.5%;
}
.field .item{
    width: 100%;
    padding: 18px;
    background-color: transparent;
    border: 2px solid #0ef;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}
.field .item::placeholder{
    color: rgba(255, 255, 255, 0.3);
}

form .textarea-field .item{
    resize: none;
}

form button {
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}
form button:hover{
    box-shadow: none;
}
.field .error-txt{
    font-size: 14.5px;
    color: #d03025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}
form .textarea-field .error-txt{
    margin-top: -10px;
}
.field.error .item{
    border-color: #d93025;
}
.field.error .error-txt{
    display: block;
}